.nav-container{
    background-color: black;
    position: fixed;
    padding: 0px;
    top: 0px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    li{
        display: inline;
        list-style-type: none;
        padding: 10px;
        padding-top: 35px;  
        padding-bottom: 25px;
        margin-right: 15px;

        .nav-link{
            text-decoration: none;
            color: white;
            font-size: 25px;
            font-family: 'Oswald', sans-serif;
        }

        .nav-link-user-login{
            color: white;
            font-size: 30px;
            text-align: center;
            margin-right: auto;
            text-decoration: none;

            label{
                font-size: 15px;
            }
        }
    }

    li:hover{
        background-color: white;

        .nav-link{
            color: black;
        }

        .nav-link-user-login{
            color: black;
        }
    }
}