.table-container{
    display: block;
    position: relative;
    margin: 0px;
    padding: 10px;
    padding-bottom: 40px;

    table{
        width: 95%;
        border: 2px solid;
        border-collapse: collapse;
        text-align: center;

        tr{
            color: black;
            border: 1px solid;

            th{
                font-size: 15px;
                border: 1px solid;
            }

            td{
                font-size: 14px;
                border: 1px solid;
                height: 35px;
                font-weight: bolder;

                ul{
                    list-style-type: none;
                }
            }
        }
    }
}