.table-container {
    margin-left: 50px;
    text-align: left;

    .film-select{
        margin-left: auto;
        margin-right: auto;
        width: 310px;
    }

    table {
        border: none;
        border-collapse: collapse;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;

        tbody{
            
            tr{
                border: none;

                td{
                    border: none;
                    text-align: left;
                    width: 150px;

                    .data-select{
                        width: 310px;
                    }
                }
            }
        }
        
    }
    .inline-forms{
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .button{
            margin-right: 35px;
        }
    }
}
