$main-color: black;

@mixin shrinkLabel {
    top: -14px;
    font-size: 12px;
    color: $main-color;
  }

.Input-container{
    position: relative;
    margin: 45px 0;

    .Input-box{
        background: none;
        background-color: white;
        color: black;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 250px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid grey;
        margin: 25px 0;

        &:focus {
            outline: none;
            border-bottom: 1px solid black;
        }
      
        &:focus ~ .Input-box-label {
            @include shrinkLabel();
        }
    }


    .Input-box-label{
        color: black;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
          }
    }

}